.logo {
  width: 30px;
  height: 30px;
  transition: ease-in-out 0.2s;
}

/* hover animation on logo */
.logo:hover {
  transform: translateY(-5px);
  transition: ease-in-out 0.3s;
}

/* add media query to decrease size in mobile devices */
@media screen and (max-width: 1000px) {
  .logo {
    width: 25px;
    height: 25px;
  }
}
