.logo {
  width: 30px;
  height: 30px;
  transition: ease-in-out 0.2s;
}

.bgimage {
  width: '140px';
  height: '140px';
}

/* hover animation on logo */
.logo:hover {
  transform: translateY(-5px);
  transition: ease-in-out 0.3s;
}

.repo {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.repo:hover {
  transition: ease-in-out 0.3s;
  background-color: #161b22;
}

/* add media query to decrease size in mobile devices */
@media screen and (max-width: 1000px) {
  .logo {
    width: 25px;
    height: 25px;
  }

  .bgimage {
    width: '75px';
    height: '75px';
  }
}
